@CHARSET "UTF-8";

body, html {
	font-family: Eurostile, Helvetica, Arial, sans-serif;
	color: #0f0f0f;
}

button {
	font-family: Eurostile, Helvetica, Arial, sans-serif;
	padding: 3px 5px;
	margin: 0px;
	font-size: 11pt;
	border: solid 1px #6B7075;
	border-right: 0px;
	display: inline-block;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0ECF6), to(#BEC8D1));
	background: -moz-linear-gradient(top,  #e0ecf6,  #bec8d1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0ecf6', endColorstr='#bec8d1'); /* for IE */
	color: #3E4045;
	height: 28px;
	min-width: 28px;
}

button:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
}

button:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-right: solid 1px #6B7075;
}

button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#CAD6E4), to(#9CA5B0));
	background: -moz-linear-gradient(top,  #CAD6E4,  #9CA5B0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CAD6E4', endColorstr='#9CA5B0'); /* for IE */	
}

button.selected {
	color: #1B3D6F;
	border-color: #0C3B86;
	background: -webkit-gradient(linear, left top, left bottom, from(#6EAEFF), to(#3E8FFF));
	background: -moz-linear-gradient(top,  #6EAEFF,  #3E8FFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6EAEFF', endColorstr='#3E8FFF'); /* for IE */	
}

button.disabled, button.disabled:hover {
	background: #929AA4;
	color: #60666C;
}

button.selected.disabled, button.selected.disabled {
	background: #4E83C2;
	color: #304B66;
	border-color: #6B7075;
}

#sidebar {	
	background: #1E2022;
}

#sidebar #logo {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 80px;
	background: url('../images/logo.png');
}

.gutter {
	padding: 10px;
}

#sidebar .title {
	font-size: 15pt;
	color: #68A0E8;
	margin-bottom: 8px;
}

#sidebar label {
	font-size: 12pt;
	color: #BAC4D2;
	display: block;
}

.fieldgroup {
	border: solid 2px #2D548B;
	background: url('../images/line_bg.png');
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}

.formfield {
	padding-bottom: 10px;
}

#divisionizer_on {
	background: #FED08A;
	margin: 15px 5px;
	padding: 5px;
	display: none;
	border: 2px dashed #C26900;
	text-align: center;
	z-index: 2;
}

#divisionizer_on .title {
	font-size: 14pt;
	color: #241601;	
	padding-bottom: 5px;
	margin-top: 4px;
}

#divisionizer_off {
	margin: 15px 5px;
	z-index: 2;
}

#divisionize_button {
	height: 57px;
	width: 167px;
	text-align: center;
	font-size: 20pt;
	border: solid 2px #3B2400;
	background: -webkit-gradient(linear, left top, left bottom, from(#DC7D00), to(#935600));
	background: -moz-linear-gradient(top,  #DC7D00,  #935600);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DC7D00', endColorstr='#935600'); /* for IE */
	border-radius: 10px;
	-moz-border-radius: 10px;
	color: #ffffff;
}

#divisionize_button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#FCA527), to(#dc7d00));
	background: -moz-linear-gradient(top,  #FCA527,  #dc7d00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCA527', endColorstr='#dc7d00'); /* for IE */
}
	

#stop_button {
	background: #fed08a;
	color: #0061FF;
	text-decoration: underline;
	font-size: 12pt;
	border: none;
	height: auto;
	cursor: pointer;
}

#stop_button:hover {
	text-decoration: none;
}

#division_toolbar {
	font-size: 19pt;
	vertical-align: middle;
	color: #A6AEC1;
	background: -webkit-gradient(linear, left top, left bottom, from(#3C3F43), to(#1F2123));
	background: -moz-linear-gradient(top,  #3C3F43,  #1F2123);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C3F43', endColorstr='#1F2123'); /* for IE */
	font-weight: normal;
}

#division_toolbar a {
	font-size: 16px;
}

#division_toolbar .social_media {
	font-size: 16px;
	font-weight: bold;
	color: #679FE7;
	padding-top: 13px;
}

#divisions {
	background: #CFD5DD;
}

.division {
	/*border: solid 1px #6A6F77;*/
	margin: 0px;
}

.division .header {
	font-size: 16pt;
	color: #E0EDFE;
	background: #6A6F77;
	padding: 5px 0px;
	text-align: center;
	border-bottom: solid 1px #41474e;
}

.division .header .legend {
	display: inline-block;
	height: 10px;
	width: 10px;
	border: solid 1px #3C3F43;
	margin: 0px 2px;
	padding: 0px;
	z-index: 4;
}

.division .team {
	font-size: 11pt;
	color: #323337;
	line-height: 160%;
	cursor: move;
}

.division .team:hover, .division .team.droppable {
	background: #E5ECF5;
}

.division .team.ui-draggable-dragging, .division .team.ui-draggable-dragging:hover {
	z-index: 1000;
	background: #F5E2D0;
	font-style: italic;
	color: #D67615;
	opacity:0.8;
	filter:alpha(opacity=80);
}

.ui-slider { position: relative; text-align: left; margin-top: 3px; }

.ui-slider-horizontal {
	height: 9px;
}

.ui-slider.ui-widget-content {
	border: solid 1px #595E68;
	background: -webkit-gradient(linear, left top, left bottom, from(#25282b), to(#383e45));
	background: -moz-linear-gradient(top,  #25282b,  #383e45);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25282b', endColorstr='#383e45'); /* for IE */
}

.ui-corner-all {
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	cursor: default;
	width: 17px;
	height: 17px;
	display: inline-block;
	border: solid 2px #0C3B86;
	background: -webkit-gradient(linear, left top, left bottom, from(#6EAEFF), to(#3E8FFF));
	background: -moz-linear-gradient(top,  #6EAEFF,  #3E8FFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6EAEFF', endColorstr='#3E8FFF'); /* for IE */	
}
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }

.ui-slider .ui-slider-handle:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#A5C8FF), to(#6BACFF));
	background: -moz-linear-gradient(top,  #A5C8FF,  #6BACFF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A5C8FF', endColorstr='#6BACFF'); /* for IE */	
}

.ui-dialog.ui-widget-content {
	background: #CFD5DD;
	border: solid 3px #51555B;
	border-radius: 10px;
	-moz-border-radius: 10px;	
	color: #44484C;
	text-align: center;
}

.ui-dialog-titlebar {
	color: #DEEAFC;
	background: -webkit-gradient(linear, left top, left bottom, from(#A7B0BC), to(#5C6168));
	background: -moz-linear-gradient(top,  #A7B0BC,  #5C6168);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A7B0BC', endColorstr='#5C6168'); /* for IE */
	height: 31px;
	text-align: center;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;	
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;	
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
}

.ui-dialog-title {
	margin-top: 6px;
	display: inline-block;
	font-size: 14pt;
	font-weight: bold;
}

.ui-dialog-titlebar-close {
	float: right;
	margin: 6px;
	display: inline-block;
}

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_9ccdfc_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_9ccdfc_256x240.png); }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }

#relocated_teams {
	border-bottom: solid 1px #676C73;
	margin: .5em 20px;
	padding-bottom: .5em;
	font-size: smaller;
	line-height: 140%;
}

button#relocate_button {
	color: #CDDBEB;
	font-size: 14pt;
	border-color: #113875;
	background: -webkit-gradient(linear, left top, left bottom, from(#549DFF), to(#366EC0));
	background: -moz-linear-gradient(top,  #549DFF,  #366EC0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#549DFF', endColorstr='#366EC0'); /* for IE */	
	margin: 10px;
}

#copyright {
	font-size: 9pt;
	color: #ffffff;
	z-index: 0;
	background: #1E2022;
}

#copyright .gutter {
	padding: 5px;
}

a {
	color: #0080FF;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: #164E87;
}