$c0d0color: #aa0003;
$c0d1color: #df4446;
$c0d2color: #ff8b8d;

$c1d0color: #0c3b96;
$c1d1color: #175de4;
$c1d2color: #5992ff;

$c2d0color: #9b9800;
$c2d1color: #dfdc49;

$c3d0color: #0d8435;

$c4d0color: #8E267F;

$c5d0color: #9a9ea5;