$c0d0color: hsl(360,96%,36%);
$c0d1color: hsl(360,96%,60%);
$c0d2color: hsl(360,96%,75%);
$c0d3color: hsl(360,96%,85%);

$c1d0color: hsl(218,80%,36%);
$c1d1color: hsl(218,80%,55%);
$c1d2color: hsl(218,80%,67%);
$c1d3color: hsl(218,80%,80%);

$c2d0color: hsl(140,82%,28%);
$c2d1color: hsl(140,72%,49%);

$c3d0color: #9b9800;
$c3d1color: #dbd825;

$c4d0color: #8E267F;
$c5d0color: #ea8909;
$c6d0color: #0f97c9;
$c7d0color: #4b4c4e;
