@import "./_reset";
@import "./_variables";
@import "./_fonts";

body {
	overflow-x: hidden;
	width: 100%;
	font-family: $font-primary;
	background: $lightest-blue;
}

div, span, input, select {
	box-sizing: border-box;
}
