@import "./_variables";

.pane-main {
	flex-grow: 1;
	overflow: hidden;
}

@media (min-width: $breakpoint-tablethd) {
  .pane {
    display: flex;
    flex-direction: row;
  }

	.pane-secondary {
		position: relative;
	}
}
