$font-primary: 'Bebas Neue', 'Helvetica', 'sans-serif';
$font-ui: 'Roboto', 'Helvetica', 'sans-serif';

$primary-blue:  #082049;
$medium-blue:   #3061B7;
$light-blue:    #A2C3FA;
$lightest-blue: #ECF3FF;
$primary-red:   #B40405;
$black:         #2A2F38;
$light-grey:    #CCD1D6;
$light-yellow:  #E4E38A;
$yellow:        #A3A100;

$disabled-bg-color: #CACACA;
$disabled-text-color: #a9a9a9;

$radius: 3px;

$shadow-height: 3px;

$breakpoint-mobile: 400px;
$breakpoint-tablet: 700px;
$breakpoint-tablethd: 900px;
$breakpoint-desktop: 1025px;
$breakpoint-desktophd: 1280px;

@mixin media-league-teamlist {
	@media (min-width: $breakpoint-tablet) and (max-width:$breakpoint-tablethd), (min-width:$breakpoint-desktop) {
		@content;
	}
}

@mixin media-league-teamgrid {
	@media (max-width: $breakpoint-tablet), (min-width:$breakpoint-tablethd) and (max-width:$breakpoint-desktop) {
		@content;
	}
}

@mixin button-shadow($color) {
	box-shadow: 0px $shadow-height 0px darken($color, 20%);
}

@mixin button-hover($color) {
	&:hover {
		background-color: lighten($color, 5%);
	}
}

@mixin team-gradient($color) {
	background: linear-gradient(to bottom, $color 0%, darken($color, 5%) 50%, darken($color, 15%) 50%, darken($color, 20%) 100%);
}