$font-primary: 'Bebas Neue', 'Helvetica', 'sans-serif';
$font-ui: 'Roboto', 'Helvetica', 'sans-serif';

$primary-blue:  #082049;
$medium-blue:   #3061B7;
$lightest-blue: #ECF3FF;
$primary-red:   #B40405;
$black:         #2A2F38;
$light-grey:    #CCD1D6;
$light-yellow:  #E4E38A;
$yellow:        #A3A100;

$disabled-bg-color: #CACACA;
$disabled-text-color: #a9a9a9;

$radius: 3px;

$shadow-height: 3px;

$conf-0-color: $primary-red;
$conf-1-color: $medium-blue;
$conf-2-color: $yellow;

$conf-0-bg: rgba($conf-0-color, .1);
$conf-1-bg: rgba($conf-1-color, .1);
$conf-2-bg: rgba($conf-2-color, .1);

@mixin button-shadow($color) {
	box-shadow: 0px $shadow-height 0px darken($color, 20%);
}

@mixin button-hover($color) {
	&:hover {
		background-color: lighten($color, 5%);
	}
}

@mixin team-gradient($color) {
	background: linear-gradient(to bottom, $color 0%, darken($color, 5%) 50%, darken($color, 15%) 50%, darken($color, 20%) 100%);
}