@import "../global/_variables";

@include media-league-teamlist {
	.conference {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}
}

@include media-league-teamgrid {
	.conference {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
