@import "../global/_variables";
@import "../global/_conferencecolors";

.division {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 1;
}

.division-conf0 {
	background: rgba($c0d0color, .1);
}

.division-conf1 {
	background: rgba($c1d0color, .1);
}

.division-conf2 {
	background: rgba($c2d0color, .1);
}

.division-conf3 {
	background: rgba($c3d0color, .1);
}

.division_list {
	@include media-league-teamlist {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		flex-wrap: wrap;
	}

	@include media-league-teamgrid {
		flex-direction: row;
	}
}

.league-2div .division_list, .league-3div .division_list {
	@include media-league-teamlist {
		flex-direction: row;
	}
}

.division_name {
	text-align: center;
	font-size: 24px;
	border-bottom: 3px inset;
	padding: 3px 0px;
	margin: 0px auto;

	@media (min-width: $breakpoint-desktophd) {
		font-size: 30px;
	}
}

.division_name-conf0div0 {
	color: $c0d0color;
	border-color: $c0d0color;
}

.division_name-conf0div1 {
	color: $c0d1color;
	border-color: $c0d1color;
}

.division_name-conf0div2 {
	color: $c0d2color;
	border-color: $c0d2color;
}

.division_name-conf0div3 {
	color: $c0d3color;
	border-color: $c0d3color;
}

.division_name-conf1div0 {
	color: $c1d0color;
	border-color: $c1d0color;
}

.division_name-conf1div1 {
	color: $c1d1color;
	border-color: $c1d1color;
}

.division_name-conf1div2 {
	color: $c1d2color;
	border-color: $c1d2color;
}

.division_name-conf1div3 {
	color: $c1d3color;
	border-color: $c1d3color;
}

.division_name-conf2div0 {
	color: $c2d0color;
	border-color: $c2d0color;
}

.division_name-conf2div1 {
	color: $c2d1color;
	border-color: $c2d1color;
}

.league-1conf .division-number0 {
	background: rgba($c0d0color, .1);
}

.league-1conf .division-number1 {
	background: rgba($c1d0color, .1);
}

.league-1conf .division-number2 {
	background: rgba($c2d0color, .1);
}

.league-1conf .division-number3 {
	background: rgba($c3d0color, .1);
}

.league-1conf .division-number4 {
	background: rgba($c4d0color, .1);
}

.league-1conf .division-number5 {
	background: rgba($c5d0color, .1);
}

.league-1conf .division_name-conf0div0 {
	color: $c0d0color;
	border-color: $c0d0color;
}

.league-1conf .division_name-conf0div1 {
	color: $c1d0color;
	border-color: $c1d0color;
}

.league-1conf .division_name-conf0div2 {
	color: $c2d0color;
	border-color: $c2d0color;
}

.league-1conf .division_name-conf0div3 {
	color: $c3d0color;
	border-color: $c3d0color;
}

.league-1conf .division_name-conf0div4 {
	color: $c4d0color;
	border-color: $c4d0color;
}

.league-1conf .division_name-conf0div5 {
	color: $c5d0color;
	border-color: $c5d0color;
}
