@import "../global/_variables";
@import "../global/_conferencecolors";

.division > .name {
	text-align: center;
	font-size: 24px;
	border-bottom: 3px inset;
	padding: 3px 0px;
	margin: 0px auto;
}

.division.conf-0 {
	background: rgba($c0d0color, .1);
	& > .name {
		color: $c0d0color;
		border-color: $c0d0color;
	}
}

.division.conf-1 {
	background: rgba($c1d0color, .1);
	& > .name {
		color: $c1d0color;
		border-color: $c1d0color;
	}
}

.division.conf-2 {
	background: rgba($c2d0color, .1);
	& > .name {
		color: $c2d0color;
		border-color: $c2d0color;
	}
}

@media (min-width:700px) and (max-width:899px),(min-width:1025px) {
	.division {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex-grow: 1;
	}

	.division .list {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		flex-grow: 1;
	}

	.division.col-3 .list, .division.col-2 .list {
		flex-wrap: wrap;
		flex-direction: row;
		align-items: flex-start;
		align-content: flex-start;

		& .team {
			width: calc(50% - 4px);
		}
	}
}

@media (max-width: 699px),(min-width:900px) and (max-width:1024px) {
	.division .list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media (min-width: 1281px) {
	.division > .name {
		font-size: 30px;
	}

	.division.col-6 .team .city, .division.col-6 .team .name {
		font-size: 18px;
	}

	.division.col-6 .team .name {
		display: inline;
	}
}