@import "../global/_variables";
@import "../global/_conferencecolors";

.division {
	@include media-league-teamlist {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex-grow: 1;
	}
}

.division-conf0 {
	background: rgba($c0d0color, .1);
}

.division-conf1 {
	background: rgba($c1d0color, .1);
}

.division-conf2 {
	background: rgba($c2d0color, .1);
}

.division_name {
	text-align: center;
	font-size: 24px;
	border-bottom: 3px inset;
	padding: 3px 0px;
	margin: 0px auto;

	@media (min-width: $breakpoint-desktophd) {
		font-size: 30px;
	}
}

.division_name-conf0div0 {
	color: $c0d0color;
	border-color: $c0d0color;
}

.division_name-conf0div1 {
	color: $c0d1color;
	border-color: $c0d1color;
}

.division_name-conf0div2 {
	color: $c0d2color;
	border-color: $c0d2color;
}

.division_name-conf1div0 {
	color: $c1d0color;
	border-color: $c1d0color;
}

.division_name-conf1div1 {
	color: $c1d1color;
	border-color: $c1d1color;
}

.division_name-conf1div2 {
	color: $c1d2color;
	border-color: $c1d2color;
}

.division_name-conf2div0 {
	color: $c2d0color;
	border-color: $c2d0color;
}

.division_name-conf2div1 {
	color: $c2d1color;
	border-color: $c2d1color;
}

.division_list {
	@include media-league-teamlist {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		flex-grow: 1;
	}

	@include media-league-teamgrid {
		.division_list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}

.col-1 .division {
	&.div-0 {
		background: rgba($c0d0color, .1);
		& > .name {
			color: $c0d0color;
			border-color: $c0d0color;
		}
	}

	&.div-1 {
		background: rgba($c1d0color, .1);
		& > .name {
			color: $c1d0color;
			border-color: $c1d0color;
		}
	}

	&.div-2 {
		background: rgba($c2d0color, .1);
		& > .name {
			color: $c2d0color;
			border-color: $c2d0color;
		}
	}

	&.div-3 {
		background: rgba($c3d0color, .1);
		& > .name {
			color: $c3d0color;
			border-color: $c3d0color;
		}
	}

	&.div-4 {
		background: rgba($c4d0color, .1);
		& > .name {
			color: $c4d0color;
			border-color: $c4d0color;
		}
	}

	&.div-5 {
		background: rgba($c5d0color, .1);
		& > .name {
			color: $c5d0color;
			border-color: $c5d0color;
		}
	}
}

@media (min-width:700px) and (max-width:899px),(min-width:1025px) {
	.division_list-col3, .division_list-col2 {
		flex-wrap: wrap;
		flex-direction: row;
		align-items: flex-start;
		align-content: flex-start;

		& .team {
			width: calc(50% - 4px);
		}
	}
}

@media (max-width: 699px),(min-width:900px) and (max-width:1024px) {
	.division_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
