@import "../global/_variables";

.team {
	min-height: 44px;
	min-width: 44px;
	display: flex;
	flex-direction: row;
	align-items: center;
	@include team-gradient($light-grey);
	font-size: 18px;
	line-height: 18px;
	padding: 5px;
	border-radius: $radius;
	margin: 2px;
	color: $black;
	transition: background-color .5s;
	box-shadow: 0px 1px 1px $black;

	&:hover {
		@include team-gradient($light-yellow);
	}

	&.moved {
		@include team-gradient($light-blue);
		&:hover {
			@include team-gradient($light-yellow);
		}
	}

	&.created {
		@include team-gradient($medium-blue);
		color: $lightest-blue;
		&:hover {
			@include team-gradient($light-yellow);
			color: $black;
		}
	}
}

.team-logo {
	display: inline-block;
	max-width: 34px;
	max-height: 34px;
}

@media (min-width:700px) and (max-width:899px),(min-width:1025px) {
	.team {
		text-align: left;
	}

	.team .city, .team .name {
		display: inline-block;
		line-height: 18px;
	}

	.division.col-3 .team .name, .division.col-6 .team .name {
		display: none;
	}

	.team-logo {
		max-width: none;
		margin-right: 5px;
	}
}

@media (max-width: 699px),(min-width:900px) and (max-width:1024px) {
	.team {
		text-align: center;
		width: 44px;
		max-height: 44px;
	}

	.team .city, .team .name {
		display: none;
	}

	.team-logo {
		display: inline-block;
		min-height: 100%;
	}
}

@media (min-width: 1025px) {
	.team {
		min-height: 0;
	}

	.team-logo {
		width: 18px;
		height: 18px;
	}
}

@media (min-width: 1281px) {
	.team .city, .team .name {
		font-size: 24px;
		line-height: 24px;
	}

	.team-logo, .team-logo img {
		height: 24px;
		width: 24px;
	}
}