@import "../global/_variables";

.team {
	display: flex;
	flex-direction: row;
	align-items: center;
	@include team-gradient($light-grey);
	padding: 5px;
	border-radius: $radius;
	margin: 2px;
	color: $black;
	transition: background-color .5s;
	box-shadow: 0px 1px 1px $black;
	z-index: 1;

	&:hover {
		@include team-gradient($light-yellow);
	}

	@include media-league-teamgrid {
		text-align: center;
		display: inline-block;
	}

	@media (max-width: $breakpoint-desktop) {
		min-width: 44px;
		min-height: 44px;
	}

	@media (min-width: $breakpoint-desktop) {
		min-height: 0px;
	}
}

.league-2div .team, .league-3div .team {
	@include media-league-teamlist {
		width: calc(50% - 4px);
	}
}

.team-moved {
	@include team-gradient($light-blue);
	&:hover {
		@include team-gradient($light-yellow);
	}
}

.team-created {
	@include team-gradient($medium-blue);
	color: $lightest-blue;
	&:hover {
		@include team-gradient($light-yellow);
		color: $black;
	}
}

.team_logo, .team_logoimage {
	display: inline-block;
	max-width: 34px;
	max-height: 34px;

	@include media-league-teamlist {
		margin-right: 5px;
	}

	@include media-league-teamgrid {
		display: inline-block;
		min-height: 100%;
	}

	@media (min-width: $breakpoint-desktop) {
		width: 18px;
		height: 18px;
	}

	@media (min-width: $breakpoint-desktophd) {
		height: 24px;
		width: 24px;
	}
}

.team_city, .team_name {
	font-size: 18px;

	@include media-league-teamgrid {
		display: none;
	}

	@include media-league-teamlist {
		display: inline-block;
		line-height: 18px;
	}

	@media (min-width: $breakpoint-desktophd) {
		font-size: 24px;
		line-height: 24px;
	}
}

.league-3div .team_name, .league-6div .team_name,
.league-3div .team_city, .league-6div .team_city, {
	@media (min-width: $breakpoint-desktophd) {
		font-size: 18px;
		line-height: 18px;
	}
}

.league-3div .team_name, .league-6div .team_name {
	@media (max-width: $breakpoint-desktophd) {
		display: none;
	}
}
