@import "../global/_variables";

.actionbutton {
	font-size: 30px;
	background: $primary-red;
	color: $lightest-blue;
	width: 100%;
	border-radius: $radius;
	@include button-shadow($primary-red);
	@include button-hover($primary-red);

	@media (min-width: 900px) {
		font-size: 26px;
	}
}
