@import "../global/_variables";

.changedteams {
	@media (min-width: $breakpoint-tablethd) {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}

.changedteams_title{
	background: $medium-blue;
	font-size: 22px;
}

.changedteams_count {
	background: $primary-red;
	border-radius: 50%;
	font-size: 18px;
	width: 23px;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.changedteams_list {
	background: $light-blue;
	color: $black;
}

.changedteams_list-open {
	max-height: none;
}

.changedteams_list-closed {
	max-height: 0;
	overflow: hidden;
}
