@import "../global/_variables";

.menuheader {
	font-size: 24px;
	width: 100%;

	padding: 5px 15px;
	@media (min-width: 900px) {
		display: none;
	}


	& span {
		padding-right: auto;
	}

	& button {
		border-radius: $radius;
		@include button-hover($light-grey);
		@include button-shadow($light-grey);
		min-height: 44px;
		min-width: 44px;
		padding-left: auto;
		font-size: 18px;

		margin: 5px;
	}
}
