@import "../global/_variables";

.selectorcontainer {
	display: flex;
	width: 100%;

	button {
		flex-grow: 1;
		flex-basis: 44px;
	}
}

.selectorbutton {
	border-radius: 0;
  min-width: 44px;

	&.selected {
		background: $primary-red;
		color: $lightest-blue;

		@include button-shadow($primary-red);
		@include button-hover($primary-red);
	}

	&:first-child {
		border-radius: $radius 0 0 $radius;
	}

	&:last-child {
		border-radius: 0 $radius $radius 0;
	}
}
