@import "../global/_variables";

.selectorbutton {
	border-radius: 0;

	&.selected {
		background: $primary-red;
		color: $lightest-blue;

		@include button-shadow($primary-red);
		@include button-hover($primary-red);
	}

	&:first-child {
		border-radius: $radius 0 0 $radius;
	}

	&:last-child {
		border-radius: 0 $radius $radius 0;
	}
}
