@import "../global/_variables";

#settings_container {
	background: $primary-blue;
	color: $lightest-blue;
}

#settings_header {
	padding: 5px 15px;
}

#settings_menu {
	transition: .4s;
	position: absolute;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 100%;
	background: $primary-blue;

	&.closed {
		max-height: 0px;
		opacity: 0;
		z-index: -1000;
	}

	&.open {
		max-height: auto;
		align-self: stretch;
		opacity: 1;
		z-index: 9000000000001;
		box-shadow: 0px 3px 2px 0px $black;
	}

	& .pane#main {
		flex-grow: 1;
		overflow: hidden;
	}
}

.selector-container {
	display: flex;
	width: 100%;

	button {
		flex-grow: 1;
		flex-basis: 44px;
	}
}

.fieldgroup {
	display: flex;
	flex-direction: column;
}

.field {
	margin: 15px;
}

.subfield {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;

	label {
		font-size: 18px;
		font-family: $font-ui;
		color: $lightest-blue;
		margin-right: 10px;
		width: 25%;
	}

	select {
		font-family: $font-ui;
		background: $light-grey;
		font-size: 18px;
		padding: 8px;
		border-radius: $radius;
		color: $medium-blue;
		width: 75%;
		min-height: 44px;

		@include button-hover($light-grey);
		@include button-shadow($light-grey);
	}

	input[type=text] {
		font-family: $font-ui;
		background: $lightest-blue;
		font-size: 18px;
		padding: 8px;
		border-radius: $radius;
		border: solid 2px $medium-grey;
		width: 75%;
		padding: 0px 3px;
	}
}


h3 {
	font-size: 30px;
	margin-bottom: 0px;
}

/* Tablet Portrait */
@media (min-width: 700px) {
	.fieldgroup {
		flex-direction: row;
	}

	.field {
		flex-grow: 1;
	}
}

@media (min-width: 900px) {
	#settings_menu, #settings_menu.closed {
		display: flex;
		align-self: stretch;
		position: static;
		max-height: none;
		opacity: 1;
		z-index: 1;
	}

	#settings_menu.open {
		box-shadow: none;
	}

	#settings_container {
		display: flex;
		flex-direction: column;
		min-width: 44px * 4 + 30px;
		max-width: 44px * 4 + 30px;
	}

	#settings_header {
		display: none;
	}

	.fieldgroup {
		flex-direction: column;
	}

	.field {
		flex-grow: 0;
	}

	h3 {
		font-size: 26px;
	}

	button.action {
		font-size: 26px;
	}
}


@media (min-width: 1025px) {
	.subfield label {
		font-size: 14px;
	}

	.subfield select {
		font-size: 14px;
	}

	.subfield input [type="text"] {
		font-size: 14px;
	}
}
