@import "../global/_variables";
@import "../global/_pane";

.menucontainer {
	display: flex;
	flex-direction: column;

	@media (min-width: 900px) {
		flex-direction: row-reverse;
		align-items: flex-start;
		position: absolute;
	}
}

.menucontainer-closed {
	@media(min-width: 900px) {
		left: -206px;
	}
}

.menucontainer-open {
	@media(min-width: 900px) {
		left: 0px;
	}
}

.menuheader {
	background: $primary-blue;
	color: $lightest-blue;
	font-size: 24px;
	width: 100%;

	@media(min-width: 900px) {
		width: auto;
		z-index: 19000000000001;
	}
}

.menu {
	background: $primary-blue;
	color: $lightest-blue;

	transition: .4s;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 100%;

	@media (min-width: 900px) {
		min-width: 206px;
		max-width: 206px;
	}
}

.menu-closed {
	max-height: 0px;
	opacity: 0;
	z-index: -1000;
}

.menu-open {
	max-height: auto;
	align-self: stretch;
	opacity: 1;
	z-index: 19000000000001;
	box-shadow: 0px 3px 2px 0px $black;

	@media (min-width: 900px) {
		left: 0px;
	}
}

.selectorcontainer {
	display: flex;
	width: 100%;

	button {
		flex-grow: 1;
		flex-basis: 44px;
	}
}

.formgroup {
	display: flex;
	flex-direction: column;
	@media (min-width: 700px) {
		flex-direction: row;
	}

	@media (min-width: 900px) {
		flex-direction: column;
	}
}

.form {
	margin: 15px;
	@media (min-width: 700px) {
		flex-grow: 1;
	}

	@media (min-width: 900px) {
		flex-grow: 0;
	}
}

.field {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

.field_label {
	font-size: 18px;
	font-family: $font-ui;
	color: $lightest-blue;
	margin-right: 10px;
	width: 25%;

	@media (min-width: 1025px) {
		font-size: 14px;
	}
}

.field_item {
	width: 75%;
	padding: 5px;

	@media (min-width: 1025px) {
		font-size: 14px;
	}
}

.form_heading {
	font-size: 30px;
	margin-bottom: 0px;

	@media (min-width: 900px) {
		font-size: 26px;
	}
}
