@media (min-width: 1025px) {
	.team .city, .team .name {
		display: inline;
	}

	.team {
		min-height: 0;
		text-align: left;
	}

	.division .list {
		flex-direction: column;
		align-items: stretch;
	}

	.team-logo, .team-logo img {
		min-height: 0;
		min-width: 0;
		max-height: 34px;
		max-width: 34px;
		display: inline-block;
		margin: auto;
	}
}