@media (min-width: 1281px) {
	.team .city, .team .name {
		font-size: 24px;
	}

	.team-logo, .team-logo img {
		min-height: 0;
		min-width: 0;
		max-height: none;
		max-width: none;
		display: inline-block;
	}

	.field {
		margin-bottom: 50px;
	}

	h3 {
		font-size: 30px;
	}

	button.action {
		font-size: 30px;
	}

	.division > .name {
		font-size: 30px;
	}

	.division.col-6 .team .city, .division.col-6 .team .name {
		font-size: 18px;
	}

	.division.col-6 .team .name {
		display: inline;
	}
}