@media (min-width: 1025px) {
	.subfield select, .subfield input[type=text] {
		padding: 7px;
	}

	button.selector {
		height: auto;
		width: auto;
		padding: 7px;
	}

	button {
		min-height: 0;
	}

	.team {
		min-height: 0;
	}
}