@media (min-width: 1025px) {
	.team .city, .team .name {
		display: inline;
	}

	.team {
		min-height: 0;
		text-align: left;
		justify-content: flex-start;
	}

	.division .list {
		flex-direction: column;
		align-items: stretch;
	}

	.team-logo, .team-logo img {
		min-height: 0;
		min-width: 0;
		max-height: 22px;
		max-width: 22px;
		display: inline-block;
	}

	#teams {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.conference {
		flex-grow: 1;
	}
}