div, span, input, select {
	box-sizing: border-box;
}

#divisionizer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: stretch;
	justify-content:space-between;
}

#settings_menu {
	transition: .4s;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;

	&.closed {
		max-height: 0px;
		opacity: 0;
		z-index: -1000;
	}

	&.open {
		max-height: auto;
		align-self: stretch;
		opacity: 1;
		z-index: 9000000000001;
	}

	& > div {
		flex-grow: 1;
	}
}

#settings_header button {
	margin: 5px;
}

.application {
	flex-grow: 1;
	display: flex;
	align-items:stretch;
	flex-direction: column;
}

.content {
	flex-grow: 1;
	align-items:stretch;
	display: flex;
	flex-direction: column;
}

#map {
	flex-grow: 1;
}

.selector-container {
	display: flex;
	width: 100%;

	button {
		flex-grow: 1;
		flex-basis: 44px;
	}	
}

.subfield {
	display: flex;
	flex-direction: row;
	align-items: center;
}