
body {
	font-family: $font-primary;
	background: $lightest-blue;
}

.team {
	min-height: 44px;
	min-width: 44px;
	display: inline-block;
	@include team-gradient($light-grey);
	font-size: 18px;
	padding: 5px;
	border-radius: $radius;
	margin: 2px;
	color: $black;
	transition: background .5s;
	box-shadow: 0px 1px 1px $black;

	&:hover {
		@include team-gradient($light-yellow);
	}

	&.moved {
		@include team-gradient($medium-blue);
	}

	&.created {
		@include team-gradient($primary-blue);
		color: $lightest-blue;
	}
}

.field	{
	margin-top: 5px;
	margin-bottom: 50px;
}

.subfield {
	text-align: right;	
	margin-top: 5px;
	margin-bottom: 5px;

	label {
		font-size: 14px;
		font-family: $font-ui;
		color: $lightest-blue;
		margin-right: 10px;
		width: 25%;
	}

	select, input[type=text] {
		padding: auto;
		font-family: $font-ui;
		background: $light-grey;
		font-size: 14px;
		border: solid 2px darken($light-grey, 30%);
		padding: 15px;
		border-radius: $radius;
		color: $medium-blue;
		width: 75%;

		@include button-hover($light-grey);
	}

	select {
		-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;

    	background-image:
		    linear-gradient(45deg, transparent 50%, $medium-blue 50%),
		    linear-gradient(135deg, $medium-blue 50%, transparent 50%),
		    linear-gradient(to right, $medium-blue, $medium-blue);
		background-position:
		    calc(100% - 15px) 1em,
		    calc(100% - 10px) 1em,
		    calc(100% - 2em) 0.5em;
		background-size:
		    5px 5px,
		    5px 5px,
		    1px 1.5em;
		background-repeat: no-repeat;
	}
}

header {
	color: $lightest-blue;
	text-align: center;
	font-size: 28px;
	background: $medium-blue;
	height: 44px;
	vertical-align: middle;
}

footer {
	background: $lightest-blue;
}

#settings_container {
	background: $primary-blue;
	color: $lightest-blue;

	& > * {
		padding: 15px;
	}
}

#settings_menu {
	background: $primary-blue;
}

#settings_header {
	font-size: 24px;
	width: 100%;

	& span {
		padding-right: auto;
	}

	& button {
		border-radius: $radius;
		@include button-hover($light-grey);
		@include button-shadow($light-grey);
		min-height: 44px;
		min-width: 44px;
		padding-left: auto;
		font-size: 18px;
	}
}

.team-logo {
	display: inline-block;
}

button {
	font-family: $font-primary;
	text-align: center;
	border: 0;
	@include button-hover($light-grey);
	cursor: pointer;

	&.action {
		font-size: 30px;
		background: $primary-red;
		color: $lightest-blue;
		width: 100%;
		border-radius: $radius;
		@include button-shadow($primary-red);
		@include button-hover($primary-red);
	}

	&.selector {
		height: 44px;
		width: 44px;
		color: $black;
		font-size: 22px;
		@include button-shadow($light-grey);

		&.selected {
			background: $primary-red;
			color: $lightest-blue;

			@include button-shadow($primary-red);
			@include button-hover($primary-red);
		}

		&.disabled {
			background: $disabled-bg-color;
			color: $disabled-text-color;
			@include button-shadow($disabled-bg-color);
			cursor: default;
			/* do not put the hover here, it's disabled. */
		}

		&:first-child {
			border-radius: $radius 0 0 $radius;
		}

		&:last-child {
			border-radius: 0 $radius $radius 0;
		}
	}
}

h3 {
	font-size: 30px;
	margin-bottom: 0px;
}

.division > .name {
	text-align: center;
	font-size: 24px;
	border-bottom: 3px inset;
	padding: 3px 0px;
	margin: 0px auto;
}

.division.conf-0 {
	background: $conf-0-bg;
	& > .name {
		color: $conf-0-color;
		border-color: $conf-0-color;
	}
}

.division.conf-1 {
	background: $conf-1-bg;
	& > .name {
		color: $conf-1-color;
		border-color: $conf-1-color;
	}
}

.division.conf-2 {
	background: $conf-2-bg;
	& > .name {
		color: $conf-2-color;
		border-color: $conf-2-color;
	}
}

#league {
	background: url("/images/ice.jpg");
}