
body {
	font-family: $font-primary;
	background: $lightest-blue;
}

.team {
	min-height: 44px;
	min-width: 44px;
	display: inline-block;
	background: linear-gradient(to bottom, $light-grey 0%, $light-grey 50%, $light-grey-shadow 50%);
	font-size: 18px;
	padding: 5px;
	border-radius: $radius;
	margin: 2px;
	color: $black;
}

.field {
	margin-top: 5px;
	margin-bottom: 5px;
}

.field label {
	font-size: 14pt;
	font-family: $font-ui;
	color: $lightest-blue;
}

header {
	color: $lightest-blue;
	text-align: center;
	font-size: 28px;
	background: $medium-blue;
	height: 44px;
	vertical-align: middle;
}

#settings_container {
	padding: 15px;
	background: $primary-blue;
	color: $lightest-blue;
}

.team-logo {
	display: inline-block;
}

input[type=text], select {
	font-family: $font-ui;
	background: $light-grey;
	font-size: 14px;
	border: 0;
	padding: 15px;
	border-radius: $radius;
	color: $medium-blue;
}

button {
	font-family: $font-primary;
	text-align: center;
	border: 0;
	@include button-hover($light-grey);

	&.action {
		font-size: 30px;
		background: $primary-red;
		color: $lightest-blue;
		width: 100%;
		border-radius: $radius;
		@include button-shadow($primary-red-shadow);
		@include button-hover($primary-red);
	}

	&.selector {
		height: 44px;
		width: 44px;
		color: $black;
		font-size: 22px;
		@include button-shadow($light-grey-shadow);

		&.selected {
			background: $primary-red;
			color: $lightest-blue;
			@include button-shadow($primary-red-shadow);
			@include button-hover($primary-red);
		}

		&.disabled {
			background: $disabled-bg-color;
			color: $disabled-text-color;
			@include button-shadow($disabled-shadow-color);
			/* do not put the hover here, it's disabled. */
		}

		&:first-child {
			border-radius: $radius 0 0 $radius;
		}

		&:last-child {
			border-radius: 0 $radius $radius 0;
		}
	}

}

h3 {
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 0px;
}