/* Tablet Landscape */
@media (min-width: 900px) {
	.application {
		flex-direction: row;	
	}

	#settings_menu, #settings_menu.closed {
		display: block;
		align-self: stretch;
		position: static;
		max-height: auto;
		opacity: 1;

		& :first-child {
			margin-right: auto;
		}
	}

	#settings_container {
		min-width: 44px * 4 + 30px;
	}

	#settings_header {
		display: none;
	}

	.field {
		margin-bottom: 30px;
	}

	h3 {
		font-size: 26px;
	}

	button.action {
		font-size: 26px;
	}
}
