/* Tablet Portrait */
@media (min-width: 700px) {
	#settings_menu {
		flex-direction: row;
		justify-content: space-between;

		& div {
			flex-grow: 1;
		}

		& > :first-child {
			margin-right: 15px;
		}
	}

	#map {
		flex-grow: 1;
	}
}