@media (max-width: 699px),(min-width:900px) and (max-width:1024px) {
	#teams {
		display: flex;
		flex-direction: column;
	}

	.conference {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.division .list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.team {
		text-align: center;
		width: 44px;
		max-height: 44px;
	}

	.team .city, .team .name {
		display: none;
	}

	.team-logo {
		display: inline-block;
		min-height: 100%;
	}
}