$font-primary: 'Bebas Neue', 'Helvetica', 'sans-serif';
$font-ui: 'Bebase Neue', 'Helvetica', 'sans-serif';

$primary-blue:  #082049;
$medium-blue:   #3061B7;
$lightest-blue: #ECF3FF;
$primary-red:   #B40405;
$black:         #2A2F38;
$light-grey:    #CCD1D6;
$light-grey-shadow: #B9BEC4;